
.gilgamesh {

    width: 300px;

    height: 300px;

    margin-right: 10px;

    border-radius: 150px;    
    /* allows you to round corner or images, if set to half the image width and height it provides a round image*/ 

    float: left;

    object-fit: cover;
       /* fixes scaling issues */

       object-position: top; 

    /* allows you to choose the position of the image, as part of it may not be visible from the object-fit option.*/
}

.flex-container {
    display: flex;
    background-color: wheat;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.profilepic {
align-self: center;

}

.bark { 
        padding: 30px;
        text-align: left;
}

.username {
    font-weight: bold;
    align-items: center;
    font-size: 35px;
    }

    p { 
    font-size: 30px;
    }


 .header1{
    display: flex ;
    background-color: brown;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif
 }


.footer-three {
    flex: 2;
}


.notes-container{ 
    background-color: whitesmoke;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    
}
.note-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
   text-align: center;
    margin-top: 20px;
}

.projects-container {
    display: flex;
    height: 400px;
    background-color: brown;
    flex-direction: column;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

.project-item-container {
    background-color: beige;
    color: brown;
    width: 200px;
    flex-direction: row;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    margin: 25px;
}

.project-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    
}